@import "tailwindcss";

@theme {
  --color-dark-bg: #050505;
  --color-accent-orange: #bc5939;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-dark-bg);
  color: white;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}