@import "tailwindcss";

@theme {
  --color-dark-bg: #050505;
  --color-accent-orange: #bc5939;
  --font-mono: "JetBrains Mono", "Fira Code", monospace;
  --font-sans: "Inter", system-ui, sans-serif;
}

/* Versteckt die Standard-Scrollbar */
::-webkit-scrollbar {
  display: none;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #050505;
  color: white;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  max-width: 100vw;
  overflow-x: hidden; /* Verhindert seitliches Wackeln auf Mobile */
}

@keyframes fade-in {
  from { opacity: 0; transform: translateY(15px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-out forwards;
}

/* Verhindert Ghost-Klicks auf Mobile */
a, button {
  touch-action: manipulation;
}

@keyframes soft-glow {
  0%, 100% { 
    opacity: 0.3; 
    transform: scale(1); 
    filter: blur(120px);
  }
  50% { 
    opacity: 0.60; /* 5% weniger als vorher */
    transform: scale(1.1); 
    filter: blur(100px); 
  }
}

