@import "tailwindcss";

@theme {
  --color-dark-bg: #050505;
  --color-accent-orange: #bc5939;
  
  /* Falls Schriften nicht laden, hier explizit zuweisen */
  --font-mono: "JetBrains Mono", "Fira Code", monospace;
  --font-sans: "Inter", system-ui, sans-serif;
}

body {
  margin: 0;
  background-color: #050505;
  color: white;
  -webkit-font-smoothing: antialiased;
}